<ul>
  <li>
    <a <%  if(active == "home") {  %> style='color:red;' <% } %> href="/">Home</a>
  </li>
  <li>
    <a <%  if(active == "blogs") {  %> style='color:red;' <% } %> href="/blogs">Blog</a>
  </li>
  <li>
    <a <%  if(active == "contact") {  %> style='color:red;' <% } %> href="/contact">Contact</a>
  </li>
  <li>
    <a  href="/cv" target="_blank">Resume</a>
  </li>
  <li>
    <a  href="/add-blog">Add Blog</a>
  </li>
</ul>
