<ul>
  <li>
    <a <%  if(active == "home") {  %> style='color:red;' <% } %> href="/">Home</a>
  </li>
  <li>
    <a <%  if(active == "about") {  %> style='color:red;' <% } %> href="/about">About</a>
  </li>
  <li>
    <a <%  if(active == "contact") {  %> style='color:red;' <% } %> href="/contact">Contact</a>
  </li>
  <li>
    <a  href="/cv" target="_blank">View CV</a>
  </li>
</ul>
